@CHARSET "ISO-8859-1";
body {
	background-image:
		url("../images/login-bg.jpg");
	background-color: gray;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.box {
	margin-top: 10%;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.75);
	padding: 65px;
	padding-top: 35px;
	position: relative;
	width: 400px;
	text-align: center;
}
.remoteLine p{
	margin :auto;
}
a {
	color: #4F5254;
	font-size: 15px;
}
.errMes{
	background-color: #CA3737;
	font-family: 'Open Sans Regular', sans-serif;
	color: #fafaff;
	position: fixed;
	top: 0;
	width: 100%;
	padding-bottom: 0px;
}